<center>

<h1>Stocks</h1>
<% @stocks.each do |stock| %>
  Company Name: <%= stock.company_name %><br>
  Shares Available: <%= stock.shares_available %><br><br>
<% end %>

<button id="buyShares">Buy Shares</button><br>
<br><%= link_to "Home", user_path(@user)%><br>
</center>
