<center>



<h4><%= "#{@user.first_name} #{@user.last_name}'s Accounts" %></h4>

<% @user.accounts.each do |account| %>
  <p><%= account.type_of_account %></p>
  <p><%= "$#{account.balance}" %></p>
<% end %>



<%= link_to "Log Out", logout_path %>

</center>
